__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.hypothesis/
.venv/
venv/
env/
ENV/
mlruns/
.viz

.env
.env.*
!.env.example
conf/local/**
!conf/local/.gitkeep
conf/**/*credentials*

# Kedro data dirs (keep folder structure, ignore contents)
data/**
!data/**/
!data/.gitkeep
